# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 2
sv_enforceGameBuild 2802 #mp2023_01 - San Andreas Mercenaries

sets tags "default, deployer"

## You MAY edit the following:
sv_licenseKey "" ## YOUR KEYMASTER
set steam_webApiKey ""
sv_hostname "dev"
sets sv_projectName "dev"
sets sv_projectDesc "dev"
sets locale "en-US" 
sets banner_detail ""
sets banner_connecting ""
load_server_icon ""
set mysql_connection_string "server=127.0.0.1;database=noxify;userid=root;"
set mysql_slow_query_warning 100
set mysql_debug "false"
set mysql_transaction_isolation_level 2

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:12594838 group.admin #HawkRox

## FiveM oneSync
# enable OneSync (required for server-side state awareness)
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on
set onesync_workaround763185 true
set onesync_forceMigration true
set onesync_distanceCullVehicles true

## Server Config
sv_scriptHookAllowed 0
sv_endpointprivacy true
setr sv_environment "debug" #setr sv_environment "debug" for full use
setr serverHash "bennyb"

## Voice Config
setr voice_useNativeAudio 1
setr voice_useSendingRangeOnly 1
setr voice_debugMode 1
setr voice_zoneRadius 300
setr voice_enableUi 1
setr voice_enableProximityCycle 1
setr voice_enableRadios 1
setr voice_enablePhones 1
setr voice_defaultVolume 1
setr voice_enableSubmix 1
setr voice_defaultCycle "`"
setr voice_defaultRadio "CAPS"
setr voice_defaultRadio "19"
setr voice_syncData 1
setr voice_enableRadioAnim 1

## Resources
exec resources.cfg